body {
    text-align: center;
}
.geeks {
    font-size: 40px;
    font-weight: bold;
    color: green;
}

body {
  background-color: white
}

.orange{
    color:#f4a100
}

.dblue{
    color:#439aff
}

.lblue{
    color:#353f52
}